.ver-panel {
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid var(--theme-neutral-300, var(--ver-zinc-300));
  background-color: #fff;
  padding: 20px;
  .dark & {
    color: var(--theme-neutral-100, var(--ver-zinc-100));
    background-color: var(--theme-neutral-900, var(--ver-zinc-900));
    border-color: var(--theme-neutral-600, var(--ver-zinc-600));
  }
}

.ver-panel.is-shadow-hover {
  &:hover {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
    transition: all 0.5s;
    .dark & {
      box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.639);
    }
  }
}

.ver-panel.is-shadow-always {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
  .dark & {
    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.639);
  }
}

.ver-panel.is-shadow-never {
  box-shadow: none;
}
