.ver-collapse-item__header {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--theme-neutral-700, var(--ver-zinc-700));
  height: 48px;
  line-height: 48px;
  cursor: pointer;
  transition: border-bottom-color 0.3s;
  font-weight: 500;
  outline: none;
  background-color: var(--theme-neutral-100, var(--ver-zinc-100));

  .dark & {
    color: var(--theme-neutral-100, var(--ver-zinc-100));
    background-color: var(--theme-neutral-900, var(--ver-zinc-900));
  }

  &.is-disabled {
    color: var(--theme-neutral-100, var(--ver-zinc-100));
    cursor: not-allowed;
    background-image: none;
  }

  .header-angle {
    transform: translateY(-20px);
    transition: transform 0.3s;
  }

  &.is-active {
    border-bottom-color: transparent;
    .header-angle {
      transform: rotate(90deg);
    }
  }
}

.ver-collapse-item__content {
  will-change: height;
  overflow: hidden;
  box-sizing: border-box;
  padding-bottom: 25px;
}

.slide-enter-active,
.slide-leave-active {
  transition: height 0.3s;
}
