.ver-link {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  position: relative;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  color: var(--theme-neutral-500, var(--ver-neutral-500));
  transition: 0.1s;

  .dark & {
    color: var(--theme-neutral-100, var(--ver-neutral-100));
  }

  &:hover {
    border-bottom: 1px solid var(--theme-neutral-500, var(--ver-neutral-500));
  }
}

@each $item in primary, success, warn, info, error {
  .ver-link-$(item) {
    color: var(--theme-$(item)-500, var(--ver-$(item)-500));
    &:hover {
      color: var(--theme-$(item)-600, var(--ver-$(item)-600));
    }
    .dark & {
      color: var(--theme-$(item)-500, var(--ver-$(item)-500));
      &:hover {
        color: var(--theme-$(item)-600, var(--ver-$(item)-600));
      }
    }
    &:hover {
      border-bottom: 1px solidvar(--theme-$(item)-500, var(--ver-$(item)-500));
    }
  }

  .ver-link-$(item).is-disabled {
    color: var(--theme-$(item)-700, var(--ver-$(item)-700));
    .dark & {
      color: var(--theme-$(item)-700, var(--ver-$(item)-700));
    }
  }
}

/* 禁用状态 */
.ver-link.is-disabled {
  cursor: not-allowed;
  color: var(--theme-neutral-500, var(--ver-neutral-500));
  text-decoration: none;

  .dark & {
    color: var(--theme-neutral-400, var(--ver-neutral-400));
  }
}
