.vp-doc table {
  width: 100%;
  display: table;

  td,
  th {
    border: none;
  }

  tbody {
    tr:nth-child(2n) {
      background-color: white;

      .dark & {
        background-color: #1b1b1f;
      }
    }
  }
}

.vp-doc blockquote {
  background-color: #f5f3ff;
  padding: 15px;
  padding-top: 10px;
  border-left: 3px solid #a78bfa;

  .dark & {
    background-color: #282338;
    color: #ded7f0;
  }
}
