.vp-doc table {
  width: 100%;
  display: table;

  td,
  th {
    border: none;
  }

  tbody {
    tr:nth-child(2n) {
      background-color: white;
    }
  }
}

.vp-doc blockquote {
  background-color: #f5f3ff;
  padding: 15px;
  padding-top: 10px;
  border-left: 3px solid #a78bfa;
}
