.ver-col {
  float: left;
}

@media only screen and (max-width: 767px) {
  .ver-col-xs-1 {
    width: calc(1 / 24 * 100%);
  }
  .ver-col-xs-2 {
    width: calc(2 / 24 * 100%);
  }
  .ver-col-xs-3 {
    width: calc(3 / 24 * 100%);
  }
  .ver-col-xs-4 {
    width: calc(4 / 24 * 100%);
  }
  .ver-col-xs-5 {
    width: calc(5 / 24 * 100%);
  }
  .ver-col-xs-6 {
    width: calc(6 / 24 * 100%);
  }
  .ver-col-xs-7 {
    width: calc(7 / 24 * 100%);
  }
  .ver-col-xs-8 {
    width: calc(8 / 24 * 100%);
  }
  .ver-col-xs-9 {
    width: calc(9 / 24 * 100%);
  }
  .ver-col-xs-10 {
    width: calc(10 / 24 * 100%);
  }
  .ver-col-xs-11 {
    width: calc(11 / 24 * 100%);
  }
  .ver-col-xs-12 {
    width: calc(12 / 24 * 100%);
  }
  .ver-col-xs-13 {
    width: calc(13 / 24 * 100%);
  }
  .ver-col-xs-14 {
    width: calc(14 / 24 * 100%);
  }
  .ver-col-xs-15 {
    width: calc(15 / 24 * 100%);
  }
  .ver-col-xs-16 {
    width: calc(16 / 24 * 100%);
  }
  .ver-col-xs-17 {
    width: calc(17 / 24 * 100%);
  }
  .ver-col-xs-18 {
    width: calc(18 / 24 * 100%);
  }
  .ver-col-xs-19 {
    width: calc(19 / 24 * 100%);
  }
  .ver-col-xs-20 {
    width: calc(20 / 24 * 100%);
  }
  .ver-col-xs-21 {
    width: calc(21 / 24 * 100%);
  }
  .ver-col-xs-22 {
    width: calc(22 / 24 * 100%);
  }
  .ver-col-xs-23 {
    width: calc(23 / 24 * 100%);
  }
  .ver-col-xs-24 {
    width: calc(24 / 24 * 100%);
  }
}

@media only screen and (min-width: 768px) {
  .ver-col-sm-1 {
    width: calc(1 / 24 * 100%);
  }
  .ver-col-sm-2 {
    width: calc(2 / 24 * 100%);
  }
  .ver-col-sm-3 {
    width: calc(3 / 24 * 100%);
  }
  .ver-col-sm-4 {
    width: calc(4 / 24 * 100%);
  }
  .ver-col-sm-5 {
    width: calc(5 / 24 * 100%);
  }
  .ver-col-sm-6 {
    width: calc(6 / 24 * 100%);
  }
  .ver-col-sm-7 {
    width: calc(7 / 24 * 100%);
  }
  .ver-col-sm-8 {
    width: calc(8 / 24 * 100%);
  }
  .ver-col-sm-9 {
    width: calc(9 / 24 * 100%);
  }
  .ver-col-sm-10 {
    width: calc(10 / 24 * 100%);
  }
  .ver-col-sm-11 {
    width: calc(11 / 24 * 100%);
  }
  .ver-col-sm-12 {
    width: calc(12 / 24 * 100%);
  }
  .ver-col-sm-13 {
    width: calc(13 / 24 * 100%);
  }
  .ver-col-sm-14 {
    width: calc(14 / 24 * 100%);
  }
  .ver-col-sm-15 {
    width: calc(15 / 24 * 100%);
  }
  .ver-col-sm-16 {
    width: calc(16 / 24 * 100%);
  }
  .ver-col-sm-17 {
    width: calc(17 / 24 * 100%);
  }
  .ver-col-sm-18 {
    width: calc(18 / 24 * 100%);
  }
  .ver-col-sm-19 {
    width: calc(19 / 24 * 100%);
  }
  .ver-col-sm-20 {
    width: calc(20 / 24 * 100%);
  }
  .ver-col-sm-21 {
    width: calc(21 / 24 * 100%);
  }
  .ver-col-sm-22 {
    width: calc(22 / 24 * 100%);
  }
  .ver-col-sm-23 {
    width: calc(23 / 24 * 100%);
  }
  .ver-col-sm-24 {
    width: calc(24 / 24 * 100%);
  }
}

@media only screen and (min-width: 992px) {
  .ver-col-md-1 {
    width: calc(1 / 24 * 100%);
  }
  .ver-col-md-2 {
    width: calc(2 / 24 * 100%);
  }
  .ver-col-md-3 {
    width: calc(3 / 24 * 100%);
  }
  .ver-col-md-4 {
    width: calc(4 / 24 * 100%);
  }
  .ver-col-md-5 {
    width: calc(5 / 24 * 100%);
  }
  .ver-col-md-6 {
    width: calc(6 / 24 * 100%);
  }
  .ver-col-md-7 {
    width: calc(7 / 24 * 100%);
  }
  .ver-col-md-8 {
    width: calc(8 / 24 * 100%);
  }
  .ver-col-md-9 {
    width: calc(9 / 24 * 100%);
  }
  .ver-col-md-10 {
    width: calc(10 / 24 * 100%);
  }
  .ver-col-md-11 {
    width: calc(11 / 24 * 100%);
  }
  .ver-col-md-12 {
    width: calc(12 / 24 * 100%);
  }
  .ver-col-md-13 {
    width: calc(13 / 24 * 100%);
  }
  .ver-col-md-14 {
    width: calc(14 / 24 * 100%);
  }
  .ver-col-md-15 {
    width: calc(15 / 24 * 100%);
  }
  .ver-col-md-16 {
    width: calc(16 / 24 * 100%);
  }
  .ver-col-md-17 {
    width: calc(17 / 24 * 100%);
  }
  .ver-col-md-18 {
    width: calc(18 / 24 * 100%);
  }
  .ver-col-md-19 {
    width: calc(19 / 24 * 100%);
  }
  .ver-col-md-20 {
    width: calc(20 / 24 * 100%);
  }
  .ver-col-md-21 {
    width: calc(21 / 24 * 100%);
  }
  .ver-col-md-22 {
    width: calc(22 / 24 * 100%);
  }
  .ver-col-md-23 {
    width: calc(23 / 24 * 100%);
  }
  .ver-col-md-24 {
    width: calc(24 / 24 * 100%);
  }
}

@media only screen and (min-width: 1200px) {
  .ver-col-lg-1 {
    width: calc(1 / 24 * 100%);
  }
  .ver-col-lg-2 {
    width: calc(2 / 24 * 100%);
  }
  .ver-col-lg-3 {
    width: calc(3 / 24 * 100%);
  }
  .ver-col-lg-4 {
    width: calc(4 / 24 * 100%);
  }
  .ver-col-lg-5 {
    width: calc(5 / 24 * 100%);
  }
  .ver-col-lg-6 {
    width: calc(6 / 24 * 100%);
  }
  .ver-col-lg-7 {
    width: calc(7 / 24 * 100%);
  }
  .ver-col-lg-8 {
    width: calc(8 / 24 * 100%);
  }
  .ver-col-lg-9 {
    width: calc(9 / 24 * 100%);
  }
  .ver-col-lg-10 {
    width: calc(10 / 24 * 100%);
  }
  .ver-col-lg-11 {
    width: calc(11 / 24 * 100%);
  }
  .ver-col-lg-12 {
    width: calc(12 / 24 * 100%);
  }
  .ver-col-lg-13 {
    width: calc(13 / 24 * 100%);
  }
  .ver-col-lg-14 {
    width: calc(14 / 24 * 100%);
  }
  .ver-col-lg-15 {
    width: calc(15 / 24 * 100%);
  }
  .ver-col-lg-16 {
    width: calc(16 / 24 * 100%);
  }
  .ver-col-lg-17 {
    width: calc(17 / 24 * 100%);
  }
  .ver-col-lg-18 {
    width: calc(18 / 24 * 100%);
  }
  .ver-col-lg-19 {
    width: calc(19 / 24 * 100%);
  }
  .ver-col-lg-20 {
    width: calc(20 / 24 * 100%);
  }
  .ver-col-lg-21 {
    width: calc(21 / 24 * 100%);
  }
  .ver-col-lg-22 {
    width: calc(22 / 24 * 100%);
  }
  .ver-col-lg-23 {
    width: calc(23 / 24 * 100%);
  }
  .ver-col-lg-24 {
    width: calc(24 / 24 * 100%);
  }
}

@media only screen and (min-width: 1920px) {
  .ver-col-xl-1 {
    width: calc(1 / 24 * 100%);
  }
  .ver-col-xl-2 {
    width: calc(2 / 24 * 100%);
  }
  .ver-col-xl-3 {
    width: calc(3 / 24 * 100%);
  }
  .ver-col-xl-4 {
    width: calc(4 / 24 * 100%);
  }
  .ver-col-xl-5 {
    width: calc(5 / 24 * 100%);
  }
  .ver-col-xl-6 {
    width: calc(6 / 24 * 100%);
  }
  .ver-col-xl-7 {
    width: calc(7 / 24 * 100%);
  }
  .ver-col-xl-8 {
    width: calc(8 / 24 * 100%);
  }
  .ver-col-xl-9 {
    width: calc(9 / 24 * 100%);
  }
  .ver-col-xl-10 {
    width: calc(10 / 24 * 100%);
  }
  .ver-col-xl-11 {
    width: calc(11 / 24 * 100%);
  }
  .ver-col-xl-12 {
    width: calc(12 / 24 * 100%);
  }
  .ver-col-xl-13 {
    width: calc(13 / 24 * 100%);
  }
  .ver-col-xl-14 {
    width: calc(14 / 24 * 100%);
  }
  .ver-col-xl-15 {
    width: calc(15 / 24 * 100%);
  }
  .ver-col-xl-16 {
    width: calc(16 / 24 * 100%);
  }
  .ver-col-xl-17 {
    width: calc(17 / 24 * 100%);
  }
  .ver-col-xl-18 {
    width: calc(18 / 24 * 100%);
  }
  .ver-col-xl-19 {
    width: calc(19 / 24 * 100%);
  }
  .ver-col-xl-20 {
    width: calc(20 / 24 * 100%);
  }
  .ver-col-xl-21 {
    width: calc(21 / 24 * 100%);
  }
  .ver-col-xl-22 {
    width: calc(22 / 24 * 100%);
  }
  .ver-col-xl-23 {
    width: calc(23 / 24 * 100%);
  }
  .ver-col-xl-24 {
    width: calc(24 / 24 * 100%);
  }
}
