.ver-switch {
  display: inline-block;
  align-items: center;
  position: relative;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  &-core {
    margin: 0;
    display: inline-block;
    width: 40px;
    height: 20px;
    border: 1px solid var(--theme-neutral-300, var(--ver-zinc-300));
    outline: none;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: var(--theme-neutral-300, var(--ver-zinc-300));
    cursor: pointer;
    transition:
      border-color 0.3s,
      background-color 0.3s;
    vertical-align: middle;

    .dark & {
      border-color: var(--theme-neutral-700, var(--ver-zinc-700));
      background-color: var(--theme-neutral-700, var(--ver-zinc-700));
    }

    .ver-switch-button {
      position: absolute;
      top: 0.5px;
      left: 0px;
      margin: 3px;
      border-radius: 100%;
      transition: all 0.3s;
      width: 16px;
      height: 16px;
      background-color: var(--theme-neutral-100, var(--ver-zinc-100));
    }
  }
}

.is-checked {
  .ver-switch-core {
    border-color: var(--theme-primary-500, var(--ver-primary-color));
    background-color: var(--theme-primary-500, var(--ver-primary-color));
    .ver-switch-button {
      transform: translateX(100%);
    }
  }
}

.is-sm {
  .ver-switch-core {
    width: 32px;
    height: 15px;
    border-radius: 7.5px;

    .ver-switch-button {
      width: 12px;
      height: 12px;
      top: 2.5px;
      left: 0.5px;
    }
  }
}

.is-lg {
  .ver-switch-core {
    width: 50px;
    height: 25px;
    border-radius: 12.5px;

    .ver-switch-button {
      width: 20px;
      height: 20px;
      top: -0.5px;
      left: 2px;
    }
  }
}
