@use '../../../style/color/index.scss' as *;
@use '../../../style/utils/button/index.scss' as *;
@use 'sass:list';
@use 'sass:color';

.ver-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  appearance: none;
  text-align: center;
  font-size: 14px;
  padding: 12px 20px;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-weight: 500;
  user-select: none;
  border-radius: 4px;
  border: none;

  &:not(.is-disabled):active {
    transform: scale(0.9);
  }

  .dark & {
    color: $ver-zinc-3;
    background-color: $ver-zinc-8;
  }

  span {
    display: inline-flex;
    align-items: center;
  }
}

// 普通按钮
@each $color-name, $color-list in $color-maps {
  @for $i from 1 through length($color-list) {
    $color: nth($color-list, $i);
    @include VerBtnType('#{$color-name}-#{$i}', $color);
  }
}

/* 灵魂按钮 */
@function generateColor($color-list, $index, $default-color: #000) {
  // 默认颜色为黑色
  @if ($index > length($color-list)) {
    @return $default-color;
  }
  @return nth($color-list, $index);
}

@each $color-name, $color-list in $color-maps {
  @for $i from 1 through length($color-list) {
    $color5: generateColor($color-list, $i);
    $color6: generateColor($color-list, $i + 1);
    @include VerBtnGhost('#{$color-name}-#{$i}', $color5, $color6);
  }
}

.is-ghost {
  padding: 12px 19px;
  background-color: transparent;
  color: $ver-zinc-6;
  border: 1.5px solid $ver-zinc-5;

  &:not(.is-disabled):hover {
    background-color: $ver-zinc-6;
    border-color: $ver-zinc-6;
    color: $ver-zinc-1;
  }

  .dark & {
    border-color: $ver-zinc-8;

    &:not(.is-disabled):hover {
      background-color: $ver-zinc-2;
      color: $ver-zinc-6;
    }
  }
}

/* round属性 */
.ver-btn.is-round {
  border-radius: 20px;
  padding: 12px 21px;
}

/* round属性 & ghost属性 */
.ver-btn.is-round.is-ghost {
  padding: 11px 20px;
}

/* plain,text属性 */
@each $color-name, $color-list in $color-maps {
  @for $i from 1 through length($color-list) {
    $color: generateColor($color-list, $i);
    $color6: generateColor($color-list, 6);
    @include VerBtnPlain('#{$color-name}-#{$i}', $color, $color6);
    @include VerBtnText('#{$color-name}-#{$i}', $color, $color6);
  }
}

.is-plain {
  color: $ver-zinc-6;
  background-color: $ver-zinc-1;
  border: 1px solid $ver-zinc-6;

  &:not(.is-disabled):hover {
    background-color: $ver-zinc-1;
    color: $ver-zinc-6;
  }

  .dark & {
    &:not(.is-disabled):hover {
      background-color: $ver-zinc-2;
      color: $ver-zinc-8;
      border-color: $ver-zinc-8;
    }
  }
}

.is-text {
  border: none;
  color: $ver-zinc-6;
  background-color: transparent;

  &:not(.is-disabled):hover {
    background-color: $ver-zinc-1;
  }

  .dark & {
    color: $ver-zinc-6;
    background-color: transparent;

    &:not(.is-disabled):hover {
      color: $ver-zinc-9;
    }
  }
}

/* size属性 */
.ver-btn.is-xs {
  font-size: 8px;
  padding: 8px 10px;
}

.ver-btn.is-sm {
  font-size: 10px;
  padding: 10px 15px;
}

.ver-btn.is-lg {
  font-size: 16px;
  padding: 14px 25px;
}

/* shade属性 */
.ver-btn.is-shade {
  box-shadow: 0px 0 10px 0px $ver-zinc-5;

  &:not(.is-disabled):hover {
    box-shadow: 0px 0 10px 0px $ver-zinc-5;
  }
}

/* 禁用属性 */
$button-colors: ();

/* 禁止状态 */
.ver-btn.is-disabled {
  opacity: 50%;
  cursor: not-allowed;
  background-image: none;

  &:active {
    transform: scale(1);
  }

  // .dark & {
  //   border: 1px solid $ver-zinc-7;
  //   background-color: $ver-zinc-9;
  // }
}

// circle
.ver-btn.is-circle {
  border-radius: 50%;
  padding: 7px;
}

.ver-btn.is-full {
  width: 100%;
}
