.ver-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  appearance: none;
  text-align: center;
  font-size: 14px;
  padding: 12px 20px;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-weight: 500;
  user-select: none;
  border-radius: 4px;
  border: none;
  transition: 0.1s;

  &:not(.is-disabled):active {
    transform: scale(0.9);
  }

  .dark & {
    color: var(--theme-neutral-300, var(--ver-neutral-300));
    background-color: var(--theme-neutral-800, var(--ver-neutral-800));
  }

  span {
    display: inline-flex;
    align-items: center;
  }
}

@each $item in primary, success, warn, info, error {
  .ver-btn-$(item) {
    color: var(--utils-text-white, var(--ver-white));
    background-color: var(--theme-$(item)-500, var(--ver-$(item)-500));
  }

  /* 幽灵按钮 */
  .ver-btn-$(item).is-ghost {
    color: var(--utils-text-black, var(--ver-black));
    border: 1.5px solid var(--theme-$(item)-500, var(--ver-$(item)-500));

    &:not(.is-disabled):hover {
      background-color: var(--theme-$(item)-600, var(--ver-$(item)-500));
      border-color: var(--theme-$(item)-600, var(--ver-$(item)-500));
    }

    .dark & {
      border-color: var(--theme-$(item)-500, var(--ver-$(item)-500));
      background-color: var(--theme-neutral-600, var(--ver-neutral-600));

      &:not(.is-disabled):hover {
        background-color: var(--theme-$(item)-600, var(--ver-$(item)-600));
        color: var(--theme-neutral-100, var(--ver-neutral-100));
      }
    }
  }

  /* 文本按钮 */
  .ver-btn-$(item).is-text {
    border: none;
    color: var(--theme-$(item)-600, var(--ver-$(item)-600));
    background-color: transparent;

    &:not(.is-disabled):hover {
      background-color: var(--theme-$(item)-100, var(--ver-$(item)-100));
    }

    .dark & {
      color: $color6;
      background-color: transparent;
      &:not(.is-disabled):hover {
        color: var(--theme-$(item)-600, var(--ver-$(item)-600));
      }
    }
  }
}

.is-ghost {
  padding: 12px 19px;
  background-color: transparent;
  color: var(--theme-neutral-600, var(--ver-neutral-600));
  border: 1.5px solid var(--theme-neutral-500, var(--ver-neutral-500));

  &:not(.is-disabled):hover {
    background-color: var(--theme-neutral-600, var(--ver-neutral-600));
    border-color: var(--theme-neutral-600, var(--ver-neutral-600));
    color: var(--theme-neutral-100, var(--ver-neutral-100));
  }

  .dark & {
    border-color: var(--theme-neutral-800, var(--ver-neutral-800));

    &:not(.is-disabled):hover {
      background-color: var(--theme-neutral-200, var(--ver-neutral-200));
      color: var(--theme-neutral-600, var(--ver-neutral-600));
    }
  }
}

/* round属性 */
.ver-btn.is-round {
  border-radius: 20px;
  padding: 12px 21px;
}

/* round属性 & ghost属性 */
.ver-btn.is-round.is-ghost {
  padding: 11px 20px;
}

/* 文本 */
.is-text {
  border: none;
  color: var(--theme-neutral-600, var(--ver-neutral-600));
  background-color: transparent;

  &:not(.is-disabled):hover {
    background-color: var(--theme-neutral-100, var(--ver-neutral-100));
  }

  .dark & {
    color: var(--theme-neutral-600, var(--ver-neutral-600));
    background-color: transparent;

    &:not(.is-disabled):hover {
      color: var(--theme-neutral-900, var(--ver-neutral-900));
    }
  }
}

/* size属性 */
.ver-btn.is-xs {
  font-size: 8px;
  padding: 8px 10px;
}

.ver-btn.is-sm {
  font-size: 10px;
  padding: 10px 15px;
}

.ver-btn.is-lg {
  font-size: 16px;
  padding: 14px 25px;
}

/* shade属性 */
.ver-btn.is-shade {
  box-shadow: 0px 0 10px 0px var(--theme-neutral-500, var(--ver-neutral-500));

  &:not(.is-disabled):hover {
    box-shadow: 0px 0 10px 0px var(--theme-neutral-500, var(--ver-neutral-500));
  }
}

/* 禁止状态 */
.ver-btn.is-disabled {
  opacity: 50%;
  cursor: not-allowed;
  background-image: none;

  &:active {
    transform: scale(1);
  }
}

/* circle */
.ver-btn.is-circle {
  border-radius: 50%;
  padding: 7px;
}

.ver-btn.is-full {
  width: 100%;
}
